.promo-banner {
    display: none;
    padding: 20px 0 10px;
    background: #374F4C;
}

.promo-banner img {
    display: block;
    margin: auto;
}

.header {
    padding: 25px 0;
    background: #FDF7F0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header ul {
    list-style: none;
    display: none;
}

.nav-header li:not(:last-child) {
    margin-right: 30px;
}

.nav-header a {
    text-decoration: none;
    color: #3E3E42;
}

.nav-header a:hover {
    text-decoration: underline;
}

.mob-menu {
    display: block;
}

.mob-menu span {
    height: 2px;
    width: 24px;
    background-color: black;
    display: block;
    margin-bottom: 5px;

}

@media (min-width: 768px) {
    .promo-banner {
        display: block;
    }

    .mob-menu {
        display: none;
    }

    .nav-header ul {
        display: flex;
    }

    .content {
        max-width: 365px;
    }
}